.filter-section {
    grid-area: filter;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    max-height: 110vh;
    border-right: 2px solid var(--border-black);
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 5rem 2rem;
}

.filter-headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}